@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css");


body {
    margin: 0 auto;
    padding: 15px;
}

.avatar {
    width: 65px;
    border-radius: 50%;
    object-fit: cover;
  }

.tabs {
    display: flex;
  
  }
  
.tab {
    padding: 2px 5px;
    opacity: 0.4;
    color: black;
    border-bottom: 2px solid transparent;
  
  }
.tab:hover {
    opacity: 0.8;
  }

.tab.active {
border-bottom: 2px solid black;
opacity: 0.1;
}

.notifications {
    width: 100%;
    margin-top: 8px;
}
.notification {
    margin: 9px 0;
    border-radius: 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 1px 4px;
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
  }
  
.notification-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
}
  
.notification-text-pod {
    padding-top: 12px;
    flex-grow: 1;
}

.notification-text-pod p, h4 {
    display: block;
    margin: 2px 0;
  }
  
.btn-comment {
    color: grey;
    margin: 32px;
    opacity: 0;
  }
  
.notification:hover a {
    opacity: 1;
  }
  
  .banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
  }
  
  .banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }
  
  .banner p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  
  .btn-ghost {
    color: #4A4A4A;
    border: 1px solid #4A4A4A;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
  
  .btn-ghost:hover {
    opacity: 1;
  }
  
  .btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #1EDD88;
    transition: background 0.3s ease;
  }
  
  .btn-flat:hover {
    background: #1BCB7F;
    color: white;
  }
  
  .btn-gradient {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    font-weight: bold;
    background: linear-gradient(#167FFB, #0F60C4);
    transition: background 0.3s ease;
    border: 1px solid #0F60C4;
  }
  
  .btn-gradient:hover {
    background: linear-gradient(#147EFF, #0F67DA);
    color: white;
  }
  